body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #15bdac;
}

#main_row {
  width: 40%;
  height: 63%;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  font-size: 24px;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8,
.column9 {
  border: 1px solid black;
  cursor: pointer;
  height: 30%;
  width: 30%;
  text-align: center;
  padding: 30%;
}

#resetbutton {
  position: absolute;
  height: 10%;
  width: 35%;
  bottom: 10%;
  background-color: black;
  color: #15bdac;
  box-shadow: 2px 2px 2px #bb3f3f;
}

#showmessage {
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 24px;
}
